.StudentPage .PageContent {
  grid-template-columns: 1fr 4fr;
}

.StudentPage .PageContent {
  .ContentRight {
    background-color: white;

    margin-top: 15px;
    padding: 15px 30px 15px 30px;

    overflow-y: scroll;
  }
}


.LessonDate {
  cursor: pointer;
  width: 50%;
  margin: 15px;

  border-radius: 10px;
  border: 3px solid #E2AB2D;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.5 ease all;

  &::hover {
    background: #E2AB2D;
    color: white;
  }
}

.CurrentLesson {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 45px;

  h3 {
    margin: 10px;
  }
}

.meter { 
  height: 30px;
  width: 200px;
  border-radius: 5px;
  
  position: relative;
  background: rgba(0, 0, 0, 0.15);
  overflow: hidden;

  margin-bottom: 20px;
}

.meter span {
  display: block;
  height: 100%;

  border-radius: 5px;
}

.progress {

  background-color: #E2AB2D;
  animation: progressBar 1s ease-in-out;
  animation-fill-mode:both; 
}

@keyframes progressBar {
0% { width: 0; }
100% { width: 100%; }
}

.StudentPage .LogOutButton {
  position: absolute;
  top: 50px;
  right: 50px;
}